
img {
  width: 250px;
  height: 250px;
  margin: /* Apply to all four sides */auto;
  margin: 2%a uto;

}

/*div > div > ul > li > a > img {

}*/

.authors img {
width: 20px;
height: 20px;
float:right;
border: 0px;

}

.authors a {
display: caption;
color: gray;

}

.image-caption {
  size: 10px;
  width: 200px;
  color: gray;
  /*float: right;*/
  padding-left: 10px;
  display: inline;
  text-decoration: none;

}

.image-caption a {
text-decoration: none;
color: gray;
float: left;
padding-right: 5px;
padding-left: 5px;
}

.image-caption span {
  float: left;
}
.image-number::before { content: "#"}

.image-number {
  float: left;
  color: gray;
}

.image-footer {
padding-bottom: 3px;

}

.octocat {
  float: left;
  margin: 5px;
}

.octocat li {
  border: 1px solid gray;

}

.octocat img {
  border: 1px solid gray;
}

li {
  list-style: none
}
