
img {
  width: 250px;
  height: 250px;
  /*margin: /* Apply to all four sides */auto;*/
  margin: 5px;
}

img::after { content: gray arrow; }

/*div > div > ul > li > a > img {

}*/



.authors img {
width: 20px;
height: 20px;
float: right;
border: none;

}

.authors {
  display: inline;
  padding: 0;

}

.authors li {
  float: left;
  border: none;

}
.authors a {
display: caption;
color: gray;

}

.authors li img {
border: 0;
}

.image-caption {
  size: 10px;
  width: 200px;
  color: gray;
  /*float: right;*/
  padding-left: 10px;
  display: inline;
  text-decoration: none;
  font-size: 14px;

}

.image-caption a {
text-decoration: none;
color: black;
float: left;
padding-right: 3px;
padding-left: 3px;

}

.image-caption span {
  float: left;
  color: gray;


}

.image-number::before { content: "#"}

.image-number {
  float: left;
  color: lightgray;
  font-size: 14px;
  margin-right: 25px;

}

.image-footer {
  padding-top: 10px;
  font-weight: bold;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;

}



.octocat {
  float: left;
  margin: 5px;

}

.octocat img {
  border: 1px solid lightgray;

}


li {
  list-style: none;

}
